.modal-content {
  background: rgba(250, 250, 250);
}
.search {
  &-panel {
    width: 500px;
    margin: 0 auto;
  }
  &__input {
    position: relative;
  }
  &__icon {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
  }
}

@media (max-device-width: 768px) {
  .search {
    &-panel {
      width: 400px;
    }
  }
}

@media (max-device-width: 576px) {
  .search {
    &-panel {
      width: 300px;
    }
  }
}
